body,
html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

#container {
  margin: auto;
  margin-top: 50px;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: space-evenly;
  grid-row-gap: 20px;
  grid-column-gap: 10px;
}

.card {
  margin: auto;
  border: 4px solid #3f8982;
  background-color: #acd7d3;
  border-radius: 3px;
  width: 200px;
  text-align: center;
  color: #36726c;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.card-completed {
  background-color: #73f37d;
}

.read-btn {
  background-color: #acb1d7;
  border: 1px solid #3f8982;
  border-radius: 2px;
  color: #36726c;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}
.remove-btn {
  background-color: #d7acac;
  border: 1px solid #3f8982;
  border-radius: 2px;
  color: #36726c;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}
